.App {
	width: 800px;
	margin: 0 auto;
}
.App-header h1 {
	text-align: center;
}

.display-none {
	display: none !important;
}

.modal-wrapper {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
}

/* 
<div className='delete-modal'>
						<div className='modal-header'>Delete Comment</div>
						<div className='modal-content'>
							Are you sure you want to delete this Comment ? This will remove
							the comment and can't be undone
						</div>
						<div className='modal-btn'>
							<button>No, Cancel</button>
							<button>Yes, Delete</button>
						</div>
					</div> */

.delete-modal {
	display: flex;
	flex-direction: column;
	width: 340px;
	min-width: 300px;
	background-color: var(--white);
	padding: 20px;
	gap: 20px;
	border-radius: 10px;
}

.delete-modal .modal-header {
	font-weight: bold;
	font-size: 20px;
}

.delete-modal .modal-content {
	color: var(--grayish-blue);
}

.delete-modal .modal-btn {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.delete-modal .modal-btn button {
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: var(--moderate-blue);
	cursor: pointer;
	font-weight: 800;
	color: var(--white);
}

.delete-modal .modal-btn .cancel-btn {
	background-color: var(--grayish-blue);
}

.delete-modal .modal-btn .delete-btn {
	background-color: var(--soft-red);
}
